---
---
@charset "utf-8";

// Our variables
$base-font-family: Trebuchet MS,calibri,lucida sans,lucida grande,verdana,arial,helvetica,tahoma,sans-serif;
$base-font-size:   18px;
$small-font-size:  $base-font-size * 0.895;
$large-font-size:  $base-font-size * 1.40;

//$base-line-height: 1.4446;
 $base-line-height: 1.1446;

$spacing-unit:     30px;

$text-color:       #333333;
$background-color: #FFF;
$brand-color:      #bc4966;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 30%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    1000px;
$on-palm:          700px;
$on-laptop:        700px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting",
        "site"
;
