---

description: list of project including class generator GUI from database tables

---

<!DOCTYPE html>
<html>

  {% include head.html %}
  {% include google-analytics.html %}

  <body>

    {% include header.html %}
   
    <div class="row">
    <div class="page-content col-md-12">
      <!--<div class="kt-carousel-tst">
        
           <div class="rs-carousel">
            <span class="prev"></span>
            <span class="next"></span>
            <ul>
            
             <li class="carousel-image">
              <img src="/assets/Images/oneLegV12.bmp">
           </li>
             
             
             
             
            </ul>
          </div>
         

      </div>-->
      <div class="row">
        
          <div class="wrapper">
            <div class="index-contents">
            <div class="intro-section">
              <h4 class="intro-heading">1 እግሪ ዘለዎም ናይ ትግርኛ ፊደላት</h3>
            <img class="index-image"  src="/assets/Images/oneLegV12.bmp">
          </div>

          <div class="current-work-section">
            <h4>ዚያዳ ሓድሽ ሓበሬታ ድማ ብጋዘጠኛ Don ዝተዳለወ link ኣብዚ እነሀልኩም ።</h4>
            <a href="https://www.youtube.com/watch?v=_e4mgjoYwIo&feature=youtu.be&fbclid=IwAR2r2ZMDbztoyozRkGFwrvqPIJRCsiHbg72RPoPUWQ2H5YMNEjBpqTBr-TE"><img class="index-image" src="/assets/Images/300820/don.jpg"></a>
          </div>
          </div>
        </div>
      </div>
      </div>
      </div>
     
                
        
   


  
    

   {% include footer.html %}

  </body>
</html>


