---

description: list of project including class generator GUI from database tables

---

<!DOCTYPE html>
<html>

  {% include head.html %}
  {% include google-analytics.html %}

  <body>

    {% include header.html %}
   
    <div class="row">
    <div class="page-content col-md-12">
      <!--<div class="kt-carousel-tst">
        
           <div class="rs-carousel">
            <span class="prev"></span>
            <span class="next"></span>
            <ul>
            
             <li class="carousel-image">
              <img src="/assets/Images/oneLegV12.bmp">
           </li>
             
             
             
             
            </ul>
          </div>
         

      </div>-->
      <div class="wrapper">
        <div class="main-heading">
          <h3 class="align-center">ኣብ “ትግርኛ መተርጕመ-ጉግል” ብከመይ ንሳተፍ?</h3>
        </div>
      </div>
      <div class="introduction">
        <div class="wrapper">
          
          <div class="introduction-inner-section">
            
            <h2 class="align-center intro-heading">ኣብ “ትግርኛ መተርጕመ-ጉግል” ብ 2 ነገራት ክንሳተፍ ንኽእል:: </h2>
            <div class="inner-introduction-contents">
              <div class="contribute-validate-section">
                <p>ኣብ ጉግል ኣስተዋጽኦ (contribute) ከምኡ’ውን ኣብ ምጽዳቕ (validate) ብምስታፍ:: </p><p>
                  ንዝያዳ ሓበሬታ ኣብ ታሕቲ ዘሎ ሊንክ ተዓዘቡ:: </p>
                <a class="info-link" href="https://www.youtube.com/watch?feature=youtu.be&v=RR78-PrhiRw&app=desktop">ጉግል ንቋንቋ ትግርኛ ኣብ ማህደሩ ኣስፊሩዎ</a>
              </div>
              <div class="add-tigrinya-articles-section">
                <p>ኣብ ዊኪፐድያ ብ ትግርኛ ዝተዳለዉ ጽሑፋት ብምድላው</p>
                <a class ="info-link"href="https://en.wikipedia.org/wiki/Wikipedia:Translate_us">ብከመይ ኣብ ዊኪፐድያ ብ ትግርኛ ዝተዳለዉ ጽሑፋት ተዳሉ:: </a>
              </div>
             </div>
          </div>
        </div>
      </div>
      <div class="row">
        
          <div class="wrapper">
            
            <div class="how-to-contribute-section">
              <h4 class="intro-heading align-center">ኣብ ጉግል ኣስተዋጽኦ (contribute) ከምኡ’ውን ኣብ ምጽዳቕ (validate) ብከመይ ንሳተፍ? </h4>
              <div class="inner-section-how-to-contribute">
                <div class="list-to-contribute">
                  <ul class="resource-list">
                    <li class="list-section">1: Go to [translate.google.com](http://translate.google.com/)</li>
                    <li>2: Click on “Community” icon– see as seen on step 2</li>
                    <li>3: On the “Community” pop-up window, click on the drop-down arrow. as see on step 3</li>
                    <li>4: Select “English – Tigrinya” – as see step 4</li>
                    <li>5: In the pop-up “Contribute” window:</li>
                    <ul class="resource-list">
                      <li class="list-section">5a: Click anywhere on the “Validate” window (see step 5a) to validate a given translation, or</li>
                      <li>5b: Click anywhere on the “Translate” window (see step 5b) to translate a given phrases, clauses, or sentences.</li>
                    </ul>
                  </ul>
                </div>
                <div class="image-to-contribute">
                  <h4 class="google-contribute-heading align-center">Steps to Access and participate in Tigrinya Google Translate. </h4>
                <div class="google-contribute-screenshot">
                  <img src="/assets/Images/google-contribute-validate/gooleTranslateGuide/part1.jpeg">
                  <img src="/assets/Images/google-contribute-validate/gooleTranslateGuide/part2.jpeg">
                </div>
                </div>
              </div>
            </div>
            <div class="index-contents">
            

          <div class="current-work-section">
            <h3 class="intro-heading align-center">ዚያዳ ሓድሽ ሓበሬታ ድማ ብጋዘጠኛ Don ዝተዳለወ link ኣብዚ እነሀልኩም ።</h4>
            <a href="https://www.youtube.com/watch?v=_e4mgjoYwIo&feature=youtu.be&fbclid=IwAR2r2ZMDbztoyozRkGFwrvqPIJRCsiHbg72RPoPUWQ2H5YMNEjBpqTBr-TE"><img class="index-image" src="/assets/Images/300820/don.jpg"></a>
          </div>
          </div>
        </div>
      </div>
      </div>
      </div>
     
                
        
   


  
    

   {% include footer.html %}

  </body>
</html>


