<div id="footer">
   <div class="container">
   	<div class="row">
   	<div class="col-md-4 col-sm-6">
<div class="textwidget"><h3>ትግርኛ መተርጕመ-ጉግል</h3>
<p>ናይዛ ወብ ሳይት ዕላማ ሓበሬታ ብዛዕባ ትግርኛ ናብ ጎግል ንምእታው ዘድልዩ መንገድታት ምሃብ እዩ ።</p></div>
   	</div>
   	<div class="col-md-4 col-sm-6">
      <h3 class="quick-link-header">ቅልጥፍ ዝበሉ ሊንክታት</h3>
      <div class="menu-quick-link">

         <ul>

      
        {% for page in site.pages %}
          {% if page.title %}
           <li>
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}"><i class="fa fa-angle-right" aria-hidden="true"></i>{{ page.title }}</a>
           </li>
          {% endif %}
        {% endfor %}
    

         </ul>
      </div>
   	</div>
   	<div class="col-md-4 col-sm-6">
         <h3 class="quick-link-header">ንዓና ንምርካብ</h3>
         <div class="contact-info-footer">
          <ul>
				<li><i class="fa fa-envelope size"></i><a href="mailto:tigrinyatranslation23@gmail.com">ትግርኛ ናብ ጎጎል ምእታው</a></li>
				<li><i class="fa fa-map-marker size" style="font-size:19px;position:relative;top:1px;left:2px"></i> ሎንደን: ዓዲ እንግሊዝ</li>
          </ul>
         </div>
   	</div>

   </div>
   </div>
   <div class="footer">
  
         &copy; {{site.time | date: '%Y'}}. All rights reserved.
     </div>
      
 

</div>
